<div class="page-width page-content" style="padding-top: 0px">

  {% include 'breadcrumbs' %}

	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      {% comment %}
      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>
      {% endcomment %}

      <div class="rte rte--nomargin">
        {{ page.content }}
      </div>

    </div>
  </div>

</div>
